<!-- src/app/app.component.html -->
<!-- <nav class="navbar" *ngIf="isLoggedIn">
  <p> salaam </p>
  <ul>
    <li *ngIf="role === 'ADMIN'"><a routerLink="/admin/dashboard">Dashboard</a></li>
    <li *ngIf="role === 'ADMIN'"><a routerLink="/annotateurs">Annotateurs</a></li>
    <li *ngIf="role === 'ADMIN'"><a routerLink="/datasets">Datasets</a></li>
    <li *ngIf="role === 'ADMIN'"><a routerLink="/statistiques">Statistiques</a></li>
    <li *ngIf="role === 'ADMIN' || role === 'USER'"><a routerLink="/parametres">Paramètres</a></li>
    <li *ngIf="role === 'USER'"><a routerLink="/user/dashboard">Dashboard</a></li>
    <li *ngIf="role === 'USER'"><a routerLink="/user/tasks">Mes Tâches</a></li>
    <li *ngIf="role === 'USER'"><a routerLink="/user/history">Historique</a></li>
  </ul>
</nav> -->
<router-outlet></router-outlet>